@media (min-width:300px) and (max-width:600px) {
            .rightSide {
                        display: none;
            }

            .content1>div {
                        flex-direction: column-reverse;
            }

            nav>i {
                        display: block;
                        font-size: 20px;
            }

            nav {
                        padding: 0 30px;
            }

            .rightContent>img {
                        height: 300px;
            }

            .leftContent>h1 {
                        font-size: 46px;
                        text-align: center;
                        width: 81%;
                        line-height: 51px;
            }

            .content1>h2 {
                        font-size: 34px;
                        text-align: center;
                        width: 83%;
            }

            .content2 {
                        flex-direction: column;
            }

            .leftContent,
            .rightContent {
                        width: 100%;
                        height: 47vh;
            }


            .box {
                        width: 282px;
                        margin: 0 auto;
            }

            .box>h3 {
                        font-size: 24px;
            }

            .box>p {
                        font-size: 18px;
            }

            .box>img {
                        display: block;
                        margin: 0 auto;
            }

            .content3 {
                        padding: 20px 0;
            }

            .content3Inside {
                        flex-direction: column-reverse;
                        margin-top: 60px;
            }

            .content3LeftSide,
            .content3RightSide {
                        width: 100%;
                        height: inherit;
            }

            .content3RightSide>img {
                        width: 315px;
            }

            .hgroup>h3 {
                        font-size: 46px;
            }

            .content3LeftSide>p {
                        font-size: 18px;
                        width: 111%;
            }

            .btnss {
                        flex-direction: column;
            }

            .content4>div {
                        flex-direction: column;
            }

            .content4Left>img {
                        height: 300px;
            }

            .content4Right {
                        padding: 0 0px;
            }

            .content4Right>h3 {
                        font-size: 46px;
                        line-height: 8vh;
            }

            .content4Left,
            .content4Right {
                        width: 100%;
            }

            .content4Right>h4 {
                        margin-top: 30px;
            }


            .content5>div {
                        flex-direction: column;
            }

            .content5 {
                        padding: 0 39px;
            }

            .content6>div {
                        flex-direction: column;
                        padding: 10px 27px;
            }


            .content7Content {
                        margin-top: 30px;
            }


            .content7Left,
            .content7Right {
                        width: 100%;
            }

            .content7Right {
                        display: none;
            }

            .content7Left>h3 {
                        font-size: 46px;
            }

            .content7Left {
                        padding: 20px;
            }


            .content7Left>div>button {
                        margin-right: 11px;
            }

            .content8 {
                        padding: 10px 34px;
            }

            .content8>.cont {
                        flex-direction: column;
            }

            .content8Left {
                        width: 10 0%;
            }

            .content8Left {
                        width: 116%;
                        height: 16vh;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 30px;
            }



            .content8Right {
                        width: 100%;
                        height: 100vh;
                        flex-direction: column;
            }

            .cont2 {
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                        padding-top: 30px;
            }

            .cont2>p {
                        width: 100%;
            }

}